// app global css in SCSS form

/**
    Basic

*/
::selection {
  color: $secondary;
  background: $primary;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
}

body {
  color: #444444;
  background: $km-background;
}
.km-background {
  background: $km-background;
}

.text-km-timeline {
  color: $km-timeline !important;
}
.bg-km-timeline {
  background: $km-timeline !important;
}

/**
    Helper

*/
.imm-ml-0-important {
  margin-left: 0px !important;
}
.imm-p-0-important {
  padding: 0px !important;
}
.imm-hover-bg-primary-important {
  &:hover {
    background-color: $primary !important;
  }
}

.imm-sliderImgImprovMobExp {
  width: 100%;
  height: auto;
}
@media (max-width: $breakpoint-md-min) {
  .imm-sliderImgImprovMobExp {
    width: 250%;
    height: auto;
  }
}

/**
    Funky styles

*/
.imm-funky-blur {
  transition: all 0.2s;
  &:hover {
    filter: blur(0px);
    opacity: 1;
  }
  &:hover.imm-person-card {
    transform: scale(0.98) translateZ(0) perspective(1px);
  }
}
@media (min-width: $breakpoint-md-min) {
  .imm-funky-blur {
    filter: blur(5px);
    opacity: 0.6;
  }
}
.imm-funky-corner-crop-lb {
  // small crop
  clip-path: polygon(0 0, 100% 0, 100% 100%, 36px 100%, 0px calc(104% - 50px));
  // big crop
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 50px 100%, 0 calc(100% - 50px));
}

/**
    App

*/
.imm-banner-logo {
  margin-left: 15px;
  width: 350px;
  height: 34px;
  > img {
    width: 100%;
    height: 100%;
  }
}

.imm-event-link {
  -text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
